<h1>Get in touch!</h1>

<div class="row">
	<div class="col-md-6">
		<h3>Address</h3>
		<p>Limerick, Ireland</p>
		<h3>Phone</h3>
		<p><%= number_to_phone "1111111111"%></p>
		<h3>Email</h3>
		<p><a href="mailto:v.sushma1@gmail.com?subject=PortfolioContact">Email me</a></p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38715.78535108899!2d-8.666187262175775!3d52.664735339393225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b5c6f0e518f5b%3A0xee03f5c36ada0ed4!2sLimerick%20City%2C%20Co.%20Limerick!5e0!3m2!1sen!2sie!4v1634992746538!5m2!1sen!2sie" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
</div>